@use "globals";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: linear-gradient(60deg, globals.$bg-color, lighten(globals.$bg-color, 8%));
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .125rem;
  font-weight: 500;
}

figcaption {
  text-align: center;
  color: globals.$primary;
  font-weight: bold;
}

// button {
//   cursor: pointer;
//   border: 1px solid globals.$primary;
//   color: globals.$primary;
//   // background-color: globals.$bg-color;
//   background-color: transparent;
//   font-size: 1rem;
//   font-weight: bold;
// }

p {
  color: #cecece;
}
