@use "globals";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: linear-gradient(60deg, globals.$bg-color, lighten(globals.$bg-color, 8%));
}

* {
  box-sizing: border-box;
}

#main {
  display: grid;
  padding: 1rem;
  gap: 1.2rem;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .125rem;
  font-weight: 500;
}

figcaption {
  text-align: center;
  color: globals.$primary;
  font-weight: bold;
}
