@use "globals";

.card{
  max-width: 340px;
  background: linear-gradient(to bottom right, darken(globals.$bg-color, 5%), lighten(globals.$bg-color, 6%));
  padding: 1.5rem;
  border-radius: .5rem;
}
  
.img-container {
  margin: 0 0 1rem 0;
}
 
img{
  width: 100%;
}
  
.link-container {
  display: grid;
  gap: .6rem .4rem;
  grid-template: 40px 40px / 1fr;
}

@mixin mylink {
  border-radius: .25rem;
  text-align: center;
  padding: .3rem;
  color: globals.$bg-color;
}

.source {
  @include mylink; 
  background: linear-gradient(75deg, globals.$primary, lighten(globals.$primary, 10%), darken(globals.$primary, 20%));  
}

.preview{
  @include mylink;
  color: globals.$primary;
  border: 2px solid transparent;
  border-image: linear-gradient(75deg, globals.$primary, lighten(globals.$primary, 10%), darken(globals.$primary, 20%)) 10% round;
}

.source:hover {
  transform: scale(1.05);
}

.preview:hover {
  font-size: 1.2rem;
}

.link:active {
  color: globals.$secondary;
}

